/*
 * disease.sh Docs - An open API for disease-related statistics
 * Third Party API for reliable global disease information
 *
 * OpenAPI spec version: 3.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.apiPackage;

import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ApiCallback;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ApiClient;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ApiException;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ApiResponse;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.Configuration;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.Pair;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ProgressRequestBody;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.invokerPackage.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.model.VaccineCountriesCoverage;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.model.VaccineCountryCoverage;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.model.VaccineCoverage;
import csee.ce291_team02.Data.LmaoNinjaApiClient.generatedClient.model.Vaccines;

import java.lang.reflect.Type;

public class Covid19VaccineApi {
    private ApiClient apiClient;

    public Covid19VaccineApi() {
        this(Configuration.getDefaultApiClient());
    }

    public Covid19VaccineApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for v3Covid19VaccineCoverageCountriesCountryGet
     * @param country A valid country name, iso2, iso3 (required)
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesCountryGetCall(String country, String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/covid-19/vaccine/coverage/countries/{country}"
            .replaceAll("\\{" + "country" + "\\}", apiClient.escapeString(country.toString()));

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        if (lastdays != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lastdays", lastdays));

        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();

        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesCountryGetValidateBeforeCall(String country, String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'country' is set
        if (country == null) {
            throw new ApiException("Missing the required parameter 'country' when calling v3Covid19VaccineCoverageCountriesCountryGet(Async)");
        }
        
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesCountryGetCall(country, lastdays, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get COVID-19 vaccine doses administered for a country that has reported vaccination rollout. Sourced from https://covid.ourworldindata.org/
     * 
     * @param country A valid country name, iso2, iso3 (required)
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return VaccineCountryCoverage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public VaccineCountryCoverage v3Covid19VaccineCoverageCountriesCountryGet(String country, String lastdays) throws ApiException {
        ApiResponse<VaccineCountryCoverage> resp = v3Covid19VaccineCoverageCountriesCountryGetWithHttpInfo(country, lastdays);
        return resp.getData();
    }

    /**
     * Get COVID-19 vaccine doses administered for a country that has reported vaccination rollout. Sourced from https://covid.ourworldindata.org/
     * 
     * @param country A valid country name, iso2, iso3 (required)
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return ApiResponse&lt;VaccineCountryCoverage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<VaccineCountryCoverage> v3Covid19VaccineCoverageCountriesCountryGetWithHttpInfo(String country, String lastdays) throws ApiException {
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesCountryGetValidateBeforeCall(country, lastdays, null, null);
        Type localVarReturnType = new TypeToken<VaccineCountryCoverage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get COVID-19 vaccine doses administered for a country that has reported vaccination rollout. Sourced from https://covid.ourworldindata.org/ (asynchronously)
     * 
     * @param country A valid country name, iso2, iso3 (required)
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesCountryGetAsync(String country, String lastdays, final ApiCallback<VaccineCountryCoverage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesCountryGetValidateBeforeCall(country, lastdays, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<VaccineCountryCoverage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for v3Covid19VaccineCoverageCountriesGet
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesGetCall(String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/covid-19/vaccine/coverage/countries";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        if (lastdays != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lastdays", lastdays));

        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();

        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesGetValidateBeforeCall(String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesGetCall(lastdays, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get COVID-19 vaccine doses administered for all countries that have reported rolling out vaccination. Sourced  from https://covid.ourworldindata.org/
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return VaccineCountriesCoverage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public VaccineCountriesCoverage v3Covid19VaccineCoverageCountriesGet(String lastdays) throws ApiException {
        ApiResponse<VaccineCountriesCoverage> resp = v3Covid19VaccineCoverageCountriesGetWithHttpInfo(lastdays);
        return resp.getData();
    }

    /**
     * Get COVID-19 vaccine doses administered for all countries that have reported rolling out vaccination. Sourced  from https://covid.ourworldindata.org/
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return ApiResponse&lt;VaccineCountriesCoverage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<VaccineCountriesCoverage> v3Covid19VaccineCoverageCountriesGetWithHttpInfo(String lastdays) throws ApiException {
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesGetValidateBeforeCall(lastdays, null, null);
        Type localVarReturnType = new TypeToken<VaccineCountriesCoverage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get COVID-19 vaccine doses administered for all countries that have reported rolling out vaccination. Sourced  from https://covid.ourworldindata.org/ (asynchronously)
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageCountriesGetAsync(String lastdays, final ApiCallback<VaccineCountriesCoverage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageCountriesGetValidateBeforeCall(lastdays, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<VaccineCountriesCoverage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for v3Covid19VaccineCoverageGet
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageGetCall(String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/covid-19/vaccine/coverage";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();
        if (lastdays != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lastdays", lastdays));

        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();

        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v3Covid19VaccineCoverageGetValidateBeforeCall(String lastdays, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageGetCall(lastdays, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get total global COVID-19 vaccine doses administered. Sourced from https://covid.ourworldindata.org/
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return VaccineCoverage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public VaccineCoverage v3Covid19VaccineCoverageGet(String lastdays) throws ApiException {
        ApiResponse<VaccineCoverage> resp = v3Covid19VaccineCoverageGetWithHttpInfo(lastdays);
        return resp.getData();
    }

    /**
     * Get total global COVID-19 vaccine doses administered. Sourced from https://covid.ourworldindata.org/
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @return ApiResponse&lt;VaccineCoverage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<VaccineCoverage> v3Covid19VaccineCoverageGetWithHttpInfo(String lastdays) throws ApiException {
        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageGetValidateBeforeCall(lastdays, null, null);
        Type localVarReturnType = new TypeToken<VaccineCoverage>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get total global COVID-19 vaccine doses administered. Sourced from https://covid.ourworldindata.org/ (asynchronously)
     * 
     * @param lastdays Number of days to return. Use &#x27;all&#x27; for the full data set (e.g. 15, all, 24) (optional, default to 30)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineCoverageGetAsync(String lastdays, final ApiCallback<VaccineCoverage> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v3Covid19VaccineCoverageGetValidateBeforeCall(lastdays, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<VaccineCoverage>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for v3Covid19VaccineGet
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineGetCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/covid-19/vaccine";

        java.util.List<Pair> localVarQueryParams = new java.util.ArrayList<Pair>();
        java.util.List<Pair> localVarCollectionQueryParams = new java.util.ArrayList<Pair>();

        java.util.Map<String, String> localVarHeaderParams = new java.util.HashMap<String, String>();

        java.util.Map<String, Object> localVarFormParams = new java.util.HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call v3Covid19VaccineGetValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = v3Covid19VaccineGetCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get vaccine trial data from RAPS (Regulatory Affairs Professional Society). Specifically published by Jeff Craven at https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker
     * 
     * @return Vaccines
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Vaccines v3Covid19VaccineGet() throws ApiException {
        ApiResponse<Vaccines> resp = v3Covid19VaccineGetWithHttpInfo();
        return resp.getData();
    }

    /**
     * Get vaccine trial data from RAPS (Regulatory Affairs Professional Society). Specifically published by Jeff Craven at https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker
     * 
     * @return ApiResponse&lt;Vaccines&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Vaccines> v3Covid19VaccineGetWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = v3Covid19VaccineGetValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<Vaccines>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get vaccine trial data from RAPS (Regulatory Affairs Professional Society). Specifically published by Jeff Craven at https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker (asynchronously)
     * 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call v3Covid19VaccineGetAsync(final ApiCallback<Vaccines> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = v3Covid19VaccineGetValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Vaccines>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
